In [26]:
import tensorflow as tf
from tensorflow import keras
import numpy as np
import keras
from keras.datasets import mnist
from keras.layers import Conv2D, MaxPooling2D
from keras.layers import Dense, Flatten
from keras.models import Sequential

print(tf.__version__)

Using TensorFlow backend.

2.1.0

In [27]:
import pandas as pd
# Load the data
#train = pd.read_csv("../input/train.csv")
#test = pd.read_csv("../input/test.csv")

train = pd.read_csv("digit-recognizer/train.csv")
test = pd.read_csv("digit-recognizer/test.csv")

In [28]:
train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
X_train=train.drop(labels=['label'],axis = 1)
y_train=train['label']

In [30]:
X_train.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
y_train.head()

0    1
1    0
2    1
3    4
4    0
Name: label, dtype: int64

In [33]:
X_train.isnull().any().describe()

count       784
unique        1
top       False
freq        784
dtype: object

In [34]:
# Normalize the data between 0 to 1 to improve the processing 
X_train = X_train / 255.0
test = test / 255.0

In [39]:
test.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [36]:
X_train=X_train.values.reshape(len(X_train),28,28,1)
test=test.values.reshape(len(test),28,28,1)

In [42]:
y_train = keras.utils.to_categorical(y_train, 10)

In [43]:
y_train

array([[0., 1., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.]], dtype=float32)

In [49]:
# Building the Model Architecture

model = Sequential()
# Select 6 feature convolution kernels with a size of 5 * 5 (without offset), and get 66 feature maps. The size of each feature map is 32−5 + 1 = 2832−5 + 1 = 28.
# That is, the number of neurons has been reduced from 10241024 to 28 ∗ 28 = 784 28 ∗ 28 = 784.
# Parameters between input layer and C1 layer: 6 ∗ (5 ∗ 5 + 1)
model.add(Conv2D(6, kernel_size=(5, 5), activation='relu', input_shape=(28, 28, 1)))
# The input of this layer is the output of the first layer, which is a 28 * 28 * 6 node matrix.
# The size of the filter used in this layer is 2 * 2, and the step length and width are both 2, so the output matrix size of this layer is 14 * 14 * 6.
model.add(MaxPooling2D(pool_size=(2, 2)))
# The input matrix size of this layer is 14 * 14 * 6, the filter size used is 5 * 5, and the depth is 16. This layer does not use all 0 padding, and the step size is 1.
# The output matrix size of this layer is 10 * 10 * 16. This layer has 5 * 5 * 6 * 16 + 16 = 2416 parameters
model.add(Conv2D(16, kernel_size=(5, 5), activation='relu'))
# The input matrix size of this layer is 10 * 10 * 16. The size of the filter used in this layer is 2 * 2, and the length and width steps are both 2, so the output matrix size of this layer is 5 * 5 * 16.
model.add(MaxPooling2D(pool_size=(2, 2)))
# The input matrix size of this layer is 5 * 5 * 16. This layer is called a convolution layer in the LeNet-5 paper, but because the size of the filter is 5 * 5, #
# So it is not different from the fully connected layer. If the nodes in the 5 * 5 * 16 matrix are pulled into a vector, then this layer is the same as the fully connected layer.
# The number of output nodes in this layer is 120, with a total of 5 * 5 * 16 * 120 + 120 = 48120 parameters.
model.add(Flatten())
model.add(Dense(120, activation='relu'))
# The number of input nodes in this layer is 120 and the number of output nodes is 84. The total parameter is 120 * 84 + 84 = 10164 (w + b)
model.add(Dense(84, activation='relu'))
# The number of input nodes in this layer is 84 and the number of output nodes is 10. The total parameter is 84 * 10 + 10 = 850
model.add(Dense(10, activation='softmax'))

model.summary()
model.compile(loss=keras.metrics.categorical_crossentropy, optimizer=keras.optimizers.Adam(), metrics=['accuracy'])
model.fit(X_train, y_train, batch_size=128, epochs=20,validation_split=0.2)

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_11 (Conv2D)           (None, 24, 24, 6)         156
_________________________________________________________________
max_pooling2d_11 (MaxPooling (None, 12, 12, 6)         0
_________________________________________________________________
conv2d_12 (Conv2D)           (None, 8, 8, 16)          2416
_________________________________________________________________
max_pooling2d_12 (MaxPooling (None, 4, 4, 16)          0
_________________________________________________________________
flatten_6 (Flatten)          (None, 256)               0
_________________________________________________________________
dense_16 (Dense)             (None, 120)               30840
_________________________________________________________________
dense_17 (Dense)             (None, 84)                10164
_________________________________________________________________
dense_18 (Dense)             (None, 10)                850
=================================================================
Total params: 44,426
Trainable params: 44,426
Non-trainable params: 0
_________________________________________________________________
Train on 33600 samples, validate on 8400 samples
Epoch 1/20
33600/33600 [==============================] - 10s 293us/step - loss: 0.4755 - accuracy: 0.8612 - val_loss: 0.1619 - val_accuracy: 0.9477
Epoch 2/20
33600/33600 [==============================] - 10s 285us/step - loss: 0.1329 - accuracy: 0.9598 - val_loss: 0.0915 - val_accuracy: 0.9725
Epoch 3/20
33600/33600 [==============================] - 9s 267us/step - loss: 0.0917 - accuracy: 0.9715 - val_loss: 0.0928 - val_accuracy: 0.9699
Epoch 4/20
33600/33600 [==============================] - 9s 271us/step - loss: 0.0717 - accuracy: 0.9780 - val_loss: 0.0804 - val_accuracy: 0.9745
Epoch 5/20
33600/33600 [==============================] - 9s 267us/step - loss: 0.0592 - accuracy: 0.9814 - val_loss: 0.0670 - val_accuracy: 0.9780
Epoch 6/20
33600/33600 [==============================] - 10s 283us/step - loss: 0.0497 - accuracy: 0.9842 - val_loss: 0.0768 - val_accuracy: 0.9767
Epoch 7/20
33600/33600 [==============================] - 9s 272us/step - loss: 0.0450 - accuracy: 0.9857 - val_loss: 0.0569 - val_accuracy: 0.9818
Epoch 8/20
33600/33600 [==============================] - 10s 290us/step - loss: 0.0388 - accuracy: 0.9876 - val_loss: 0.0723 - val_accuracy: 0.9754
Epoch 9/20
33600/33600 [==============================] - 10s 284us/step - loss: 0.0382 - accuracy: 0.9875 - val_loss: 0.0511 - val_accuracy: 0.9838
Epoch 10/20
33600/33600 [==============================] - 10s 288us/step - loss: 0.0288 - accuracy: 0.9908 - val_loss: 0.0546 - val_accuracy: 0.9833
Epoch 11/20
33600/33600 [==============================] - 10s 292us/step - loss: 0.0266 - accuracy: 0.9913 - val_loss: 0.0552 - val_accuracy: 0.9840
Epoch 12/20
33600/33600 [==============================] - 9s 279us/step - loss: 0.0248 - accuracy: 0.9918 - val_loss: 0.0555 - val_accuracy: 0.9829
Epoch 13/20
33600/33600 [==============================] - 9s 275us/step - loss: 0.0229 - accuracy: 0.9919 - val_loss: 0.0604 - val_accuracy: 0.9827
Epoch 14/20
33600/33600 [==============================] - 9s 278us/step - loss: 0.0188 - accuracy: 0.9940 - val_loss: 0.0491 - val_accuracy: 0.9857
Epoch 15/20
33600/33600 [==============================] - 9s 271us/step - loss: 0.0163 - accuracy: 0.9946 - val_loss: 0.0675 - val_accuracy: 0.9833
Epoch 16/20
33600/33600 [==============================] - 9s 271us/step - loss: 0.0152 - accuracy: 0.9953 - val_loss: 0.0673 - val_accuracy: 0.9827
Epoch 17/20
33600/33600 [==============================] - 9s 282us/step - loss: 0.0139 - accuracy: 0.9954 - val_loss: 0.0535 - val_accuracy: 0.9850
Epoch 18/20
33600/33600 [==============================] - 9s 272us/step - loss: 0.0139 - accuracy: 0.9951 - val_loss: 0.0544 - val_accuracy: 0.9855
Epoch 19/20
33600/33600 [==============================] - 9s 271us/step - loss: 0.0119 - accuracy: 0.9958 - val_loss: 0.0602 - val_accuracy: 0.9864
Epoch 20/20
33600/33600 [==============================] - 9s 267us/step - loss: 0.0140 - accuracy: 0.9952 - val_loss: 0.0786 - val_accuracy: 0.9825

In [45]:
model.save('digit_recognizer_LeNet_VS.h5')

In [46]:
results = model.predict(test)

# select the indix with the maximum probability
results = np.argmax(results,axis = 1)

results = pd.Series(results,name="Label")

In [47]:
submission = pd.concat([pd.Series(range(1,28001),name = "ImageId"),results],axis = 1)

submission.to_csv("submission_mnist_datagen_LeNet_VS.csv",index=False)